body {
    background-color: #116688;
    color: #EEEE22;
    font-size: 16px;
    font-family: "Lora", Georgia, serif;
}

header {
    display: block;
    margin-bottom: 1px;
}

.imgLogo {
    border-bottom: solid 3px;
    margin-bottom: 4px;
    padding-bottom: 5px;
}

.ender {
    text-align: right;
    font-size: 14px;
    line-height: 140%;
    float: right;
    font-style: italic;
}

nav {
    display: block;
    width: 18%;
    float: left;
    margin-right: 10px;
    font-family: "Rubik", Verdana, sans-serif;
}

ol, ul {
    line-height: 200%;
}

nav ul {
    color: #FFDD22;
    line-height: 230%;
    margin-top: 40px;
    list-style-type: square;
}

a {
    text-decoration: none;
}  

a:link {
    color:#FFFF22;
}

a:visited {
    color: #DDDD22;
}

section {
    display: block;
    width: 70%;
    float: right;
}

.apres {
    text-align: center;
    font-size: 18px;
}

/* estilos página memórias-listas */

.Titulo {
    text-align: center;
}

.listaMemo {
    width: 340px;
    color: #AA0000;
    background-color: #EEEEEE;
    padding: 10px 10px 10px 50px;
    border: 4px solid #000055;
    margin: 0px auto 10px auto;
    font-family: Rubik, Verdana, sans-serif;
    list-style-type: decimal;
}

.listaMemo a:link {
    color: #005599;
}

.listaMemo a:visited {
    color:#005599;
}

.listaMemo ul {
    color: #114455;
    list-style-type: disc;
}

.janInfoDetalhe {
    text-align: left;
    font-size: 18px;
    margin-left: 15px;
}

.alinhar {
    text-align: center;
}

.preco {
    color: #EE0000;
    font-weight: bold;
    vertical-align: middle;
}

/* estilos página discos - tabela */

.tabDisco {
    border: solid;
    border-collapse: collapse;
    margin: 6px auto 10px auto;
    background-color: #FFFFFF;
    color: #000066;
    font-family: Rubik, Verdana, sans-serif;
    font-size: 14px;
}

.tabDisco a:link {
    color:#005599;
}

.tabDisco a:visited {
    color: #005599;
}

.tabDisco td {
    border: 3px solid #226699;
    padding: 6px 12px 6px 12px;
}

.tabDisco th {
    border: 3px solid #226699;
    padding: 6px 12px 6px 12px;
}

.titulo {
    color: #FFFF00;
    background-color: #229955;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.imgDisco {
    height: 70px;
    width: 70px;
}

.linTH {
    color: #FFFFFF;
    background-color: #22BB66;
    vertical-align: middle;
    text-align: center;

}

.colTH {
    color: #FFFFFF;
    background-color: #2299DD;
    text-align: left;
}

#imgDes {
    height: 100px;
    width: 100px;
    border: solid 2px #226699;
    padding: 12px;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
}

#titDes {
   height: 60px;
   text-align: center; 
}

#prcDes {
   height: 100px; 
}

.colMenu {
    height: 45px;
}


/* estilos página cadastro/compras - formulário */

.FormBox {
    width: 520px;
    background-color: #33BBBB;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border: 3px solid #EEEE22;
}

.FSLinhaInteira {
    color: white;
    width: 490px;
    text-align: left;
}

.FSColEsq {
    width: 210px;
    text-align: center;
    float: left;
}

.FSColDir {
    width: 210px;
    text-align: center;
    float: right;
}

.FSColEsq legend {
    text-align: left;
}

.FSColDir legend {
    text-align: left;
}

.LinhaForm {
    margin: 0px;
    height: 30px;
    padding: 6px 3px 0px 3px;
}

.ColEsq {
    width: 180px;
    float: left;
    display: block;
}

.ColDir {
    width: 180px;
    float: right;
    display: block;
}

.LabBox {
    width: 80px;
    float: left;
    display: block;
}

.botoes {
    text-align: right;
    margin: 20px 10px 0px 10px;
}

.InpBoxGnd {
    width: 384px;
    float: right;
    display: block;
}

.InpBoxMed {
    width: 80px;
    float: right;
    display: block;
}

.numDD {
    width: 35px;
}

.numQD {
    width: 50px;
}

form p {
    font-style: italic;
}






